.warp{
    overflow: hidden;
}

.bing-info{width:100%;}
.bing-info-one{
    color:#ff0012;
    margin-top: 14px;
}
.bing-info-two{
    margin-top:32px;
    margin-bottom:28px;
}
.bing-info-two p{
    height:24px;
    line-height: 24px;
    color:#292929;
}
.btnsubmit{letter-spacing:10px;display: block; margin-top: 30px;margin-left:18px;margin-right:18px;height: 50px;line-height:50px;border-radius: 5px;background-color:#ff6a30;color:#ffffff;font-size: 18px;text-align: center;}