.warp{
	overflow: hidden;
}
.hospital-info{
	margin:0px 18px;
	height:34px;
	line-height: 34px;
}
.hospital-info span{
	font-size: 16px;
}
.hospital-info-l{
	float:left;
}
.hospital-info-r{
	float:right;
}
.hospital-info-default-color{
	color:#7c7e7e;
}
.hospital-info-other-color{
	color:#44c5cf;
}

.doclist{
	background: #fff;
	height:90px;
	border-bottom:1px solid #e9e9e9;
}
.doclist-l{
	margin-top:14px;
	width:80%;
}
.doclist-l .docImg{
	margin-right:18px;
	margin-left:18px;
	border:1px #c8c8c8 solid;
}

.doclist-l .docImg img{
	width:62px;
	height:62px;
}
.doclist-l .docDetail{
	width:60%;
}
.doclist-l .docDetail p{
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom:12px;
}
.doclist-l .docDetail .docname{
	margin-right:5px;
}
.doclist-l .docDetail .colorone{
	color: #7c7e7e;
}
.doclist-l .docDetail .colortwo{
	color: #303233;
}
.doclist-l .docDetail .docName{
	/*margin-bottom:10px;*/
}
.doclist-r{
	width:20%;
}
.doclist-r span{
	margin-top:23px;
	margin-right:18px;
	height:44px;
	width:44px;
	line-height: 44px;
	display: inline-block;
	color:#fff;
}
.doclist-r .order{
	background:#ff6a30;
}
.doclist-r .full{
	background:#c8c8c8;
}
#doccontwarptoscroll{
	overflow: hidden;

}