.warp{
    overflow: hidden;
}
.hospital-name{
	padding:16px 0;
	background:#44c5cf;
}
.hospital-name h3{
	color:#fff;
	margin:0px 18px;
	font-size:18px;
	font-weight: normal;
}

/******/
.hospital-info{
	margin:0px 18px;
	height:36px;
	line-height: 36px;
}
.hospital-info span{
	font-size: 16px;
}
.hospital-info-l{
	float:left;
}
.hospital-info-r{
	float:right;
}
.hospital-info-default-color{
	color:#7c7e7e;
}
.hospital-info-other-color{
	color:#44c5cf;
}

/******/
.hospital-info-list{
	width:100%;
}
.hospital-info-list li{
	padding:0px 18px;
	font-size:18px;
	border-bottom:1px solid #e9e9e9;
	height:50px;
	line-height:50px;
	background:#fff;
}
.hospital-info-list-l{
	float:left;
	color:#303233;
}
.hospital-info-list-r{
	float:right;
	color:#b7b7b7;
}
#hospital-info-content{
	overflow: hidden;
}