

.tips{width: 100%;height:58px;margin-top: 18px; }
.tips p{margin-left: 18px; margin-right:18px;font-size: 16px;color: #7c7e7e;line-height: 20px;}
.usernamewarp{width: 100%;display: -webkit-box;height: 50px;background-color: #fff;}
.usericon{height: 50px;line-height: 50px;font-size: 18px;padding-left:20px;padding-right: 14px;color: #7c7e7e;}
.username{-webkit-box-flex:1;height: 50px;}
.username input{width:100%;height: 20px;margin-top: 15px;color: #303233;font-size: 16px;line-height: 20px;}
.passwarp{width: 100%;display: -webkit-box;height: 50px;background-color: #fff; margin-top:1px;}
.passicon{height: 50px;line-height: 50px;font-size: 18px;padding-left:20px;padding-right: 14px;color: #7c7e7e;}
.pass{-webkit-box-flex:1;height: 50px;}
.pass input{width:100%;height: 20px;margin-top: 15px;color: #303233;font-size: 16px;line-height: 20px;}
.btnsubmit{display: block; margin-top: 30px;margin-left:18px;margin-right:18px;height: 50px;line-height:50px;border-radius: 5px;background-color:#ff6a30;color:#ffffff;font-size: 18px;text-align: center;}
.userserver{margin-top: 20px;width: 90%;height: 10%;color: #ff6130;font-size: 16px;display: -webkit-box;}
.newuser{height: 100%;-webkit-box-flex:1;  color: #ff6130; display: block;}
.forgetpw{-webkit-box-flex:1;height: 100%;  color: #ff6130; display: block;text-align: right;}