.warp{
    overflow: hidden;
}
.inpNoBg {-webkit-appearance:none;background:none;border-radius:0;border:none;outline:none;}
.myAccout:after { content: ""; display: block; height: 55px; }
.myAccout .my-message { display: block; width: 100%; height: 90px;  padding: 18px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.my-message .my-vatar { font-family: "myIcon"; height: 56px; width: 56px; line-height: 56px; float: left; border: 1px solid #ddd; border-radius: 1000px; font-size: 30px; text-align: center; margin-right: 15px; background-color: #fff; color: #b7b7b7; }
.my-message .my-vatar form,.my-message .my-vatar .bmcgBtn,.my-message .my-vatar .bmcgFile {width:56px;height:56px;}
.my-message .my-vatar .bmcgFile {left:0px;top:0px;}
.my-message .name-number { overflow: hidden; position: relative; line-height: 30px; height: 56px; color: #303233; }
.my-message .enterdepart { position: absolute; right: 0; top: 0; line-height: 56px; color: #7c7e7e; }
.my-deals .deal-part { display: block; position: relative;  font-size: 18px; padding:0 18px;height: 50px; line-height: 50px; border-top: 1px solid #e9e9e9; background: #fff; }
.my-deals .deal-part:first-child { border-top: none; }
.deal-part .font-icon, .setting .font-icon { font-family: "myIcon"; color: #7c7e7e;  font-size: 18px; line-height: 16px; }
.deal-part .enterdepart, .setting .enterdepart { line-height: 50px; color: #b7b7b7; }
.deal-part .desc{color:#303233;}

