.warp{
    overflow: hidden;
}

.filter{width:70%;height: 70px;  margin: 2px auto;}
.doctor,.hospital{width: 50%;line-height: 70px;font-size: 16px;}
.doctor span,.hospital span{font-size: 18px;}
.checked{color:#303233;}
.nochecked{color: #b7b7b7;}

.searchinput{height:50px;margin-left: 18px;margin-right: 18px;margin-bottom: 16px;background-color: #ffffff;line-height: 50px;}
.searchicon{height: 50px;line-height: 50px;margin-left: 18px;margin-right: 18px;font-size: 18px;color: #9d9d9d;}
.searchinput input{width:70%;margin-top: 14px;font-size: 16px;height: 20px;line-height: 20px;color: #b7b7b7;}
.searchdelecticon{font-size: 18px;color: #7c7e7e;padding-left:8px;padding-right: 8px;}
.btnsubmit{display: block; width: 90%;height: 50px;line-height:50px;border-radius: 5px;background-color:#ff6a30; color:#ffffff;font-size: 16px;text-align: center;letter-spacing: 4px;}
.searchhistory{width:90%;margin-top: 18px;}
.hisstorytitle{font-size: 18px;color: #7c7e7e;margin-bottom: 24px;}
.historylist li{width:50%;height:16px;font-size:14px;color: #303233;margin-bottom: 20px;line-height: 16px;}
.historylist span{font-size:6px;color:#7c7e7e;padding-left: 6px;display:inline-block;line-height: 18px;vertical-align: top;}
.historydelect{width:96px;height:24px;border:1px solid #b7b7b7;line-height: 24px;font-size: 14px;color: #7c7e7e;margin-top:6px;}
.historydelect span{padding-left: 8px;padding-right: 8px;}
.scrollwrap{overflow: hidden;}