.warp{
    overflow: hidden;
}

.dis_guide_step{
	background: #fff;
	margin-top: 18px;
	width:100%;
}
.dis_guide_step_box{
	width:90%;
	margin:0px auto;
	padding:18px 0;

}
.dis_guide_step_l{
	width:50px;
	font-size: 30px;
}

.dis_guide_step_btn{
	width:90%;
	margin-top: 30px;
}
.dis_guide_step_btn div{
	width:130px;
	height:40px;
	line-height: 40px;
	color:#fff;
}
.response_yes{
	background: #ff9675;

}
.response_no{
	background: #fe6e40;
}