.warp{
	overflow: hidden;
}
.docdetail{
	height:138px;
	width:100%;
	background:url(../imgs/docinfobg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.docdetail-face{
	padding-top:14px;
}
.docdetail-l{
	margin-top:46px;
	padding-left:18px;
}
.docdetail-l hr{
	opacity:0.3;
}
.docdetail-l div{
	color:#fff;
	height: 16px;
	line-height: 16px;
}

.docdetail-c{
	width:80px;
	height:80px;
	border-radius: 50%;
	background:rgba(255,255,255,0.5);
	padding:5px;
	box-shadow: 0px 0px 10px;
}
.docdetail-c-iframe{
	width:80px;
	height:80px;
	border-radius: 50%;
	overflow: hidden;
}
.docdetail-c-iframe img{
	width:80px;
	height:80px;
}

.docdetail-name{
	margin-top:12px;
}
.docdetail-name span{
	color:#fff;
	vertical-align: middle;
}
.docdetail-name img{
	margin:5px;
	width:5px;
	vertical-align: middle;
}
.docdetail-r{
	margin-top:46px;
	padding-right:18px;
}
.docdetail-r div{
	color:#fff;
	height: 16px;
	line-height: 16px;
}
.docdetail-r hr{
	opacity:0.3;
}
.docdetail-tab{
	height:57px;
	width:100%;
	background:#15b6c3;
}
.docdetail-tab .docdetail-tab-box div{
	height:30px;
	line-height: 30px;
	width:49%;
	text-align: center;
}
.docdetail-tab-l{
	margin-top:10px;
	border:1px #fff solid;
	border-radius: 5px 0px 0px 5px;
}
.docdetail-tab-r{
	margin-top:10px;
	border-right:1px #fff solid;
	border-bottom:1px #fff solid;
	border-top:1px #fff solid;
	border-radius: 0px 5px 5px 0;
}
.docdetail-tab .checked{
	background:#fff;
	color:#15b6c3;
}
.docdetail-tab .nochecked{
	background:#15b6c3;
	color:#fff;
}
.docdetail-tab-box{
	margin:0px 18px;
}
.docdetail-txt{
	width:100%;
	background:#fff;
	margin-top: 18px;
	padding:16px 0;
}
.docdetail-txt .docdetail-txt-l{
	width:18px;
	margin-left:18px;
	margin-right:12px;
	color:#7c7e7e;
}
.docdetail-txt .docdetail-txt-r{
	width:80%;
}

.docdetail-txt .docdetail-txt-r h3{
	margin-bottom:6px;
	color:#303233;
}
.docdetail-txt .docdetail-txt-r p{
	color:#7c7e7e;
	line-height:20px;
}
.docdetail-register{
	margin-top:18px;
}
.docdetail-register .nothing-work{
	margin-top:48px;
}
.docdetail-list{
	background:#fff;
	height:70px;
	width:100%;
	border-bottom: 1px solid #e9e9e9;
}
.docdetail-list-l{
	margin-top:12px;
	margin-left:18px;
	width: 180px;
}
.docdetail-list-l h3 span{
	margin-right:5px;
	font-size:16px;
	font-weight: normal;
}
.docdetail-list-l p{
	color:#303233;
	margin-top:5px;
}
.docdetail-list-r{
	margin-top:20px;
	margin-right:18px;
	width:74px;
	height:28px;
	line-height:28px;
	color:#fff;
	letter-spacing: 2px;
}

.register-no-ok .docdetail-list-l h3 span{
	color:#b7b7b7;
}
.register-no-ok .docdetail-list-r {
	background:#c8c8c8;
	border:1px solid #c8c8c8;
}
.register-ok .docdetail-list-l h3 span{
	color:#15b6c3;
}
.register-ok .docdetail-list-r {
	background:#ff6a30;
	border:1px solid #ff6a30;
}
.register-stop .docdetail-list-l h3 span{
	color:#15b6c3;
}
.register-stop .docdetail-list-r {
	color:#c8c8c8;
	border:1px solid #c8c8c8;
}
.select-time-shade{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:rgba(0,0,0,0.5);
}

.select-time{
	width:280px;
	height:400px;
	background:#fff;
	margin:0 auto;
	/*margin-top:12%;*/
	position:relative;
}
.select-time .close{
	position:absolute;
	right:14px;
	top:10px;
	height:20px;
	width:20px;
	background:url(../imgs/close.png) center center;
	background-repeat: no-repeat;
	background-size:contain;
}
.select-time h3{
	padding-top:10px;
	height:50px;
	line-height: 50px;
	margin:0 16px;
	font-weight: normal;
}

.select-time .time-list{
	/*border-top:1px solid #e9e9e9;*/
	margin:0 16px;
	padding:5px;
}
.select-time .time-list div{
	width:100px;
	height:80px;
	line-height: 80px;
	margin:0px 8px;
	font-size:16px;
	background: url(../imgs/notime.png) center center;
	background-repeat: no-repeat;
	background-size:contain;
	color:#aaa;
}
.select-time .time-list .select{
	background: url(../imgs/time.png) center center!important;
	background-repeat: no-repeat!important;
	background-size:contain!important;
	color:#fff!important;
}

.btnsubmit{
	display: block;
	margin: 25px 16px;
	height: 42px;
	line-height:42px;
	border-radius: 5px;
	background-color:#44c5cf;
	color:#ffffff;
	font-size: 18px;
	letter-spacing: 10px;
	text-align: center;
}
#scrollwarp{
	overflow: hidden;
}
#time-list{
	overflow: hidden;
	border-top:1px solid #e9e9e9;
}
