.warp{
    overflow: hidden;
}

/******/
.area-info-list{
	width:100%;
	margin-top:18px;
}
.area-info-list li{
	padding-left:18px;
	font-size:18px;
	border-bottom:1px solid #e9e9e9;
	height:50px;
	line-height:50px;
	background:#fff;
}
.area-info-list-l{
	float:left;
	color:#303233;
}
.area-info-list-r{
	float:right;
	width:30px;
	padding-right:18px;
	color:#b7b7b7;
}

.fsColor{
	color:#dadada;
	width:60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.filterBtn{
    height: 50px;
    margin:30px auto;
    width: 85%;
    color: #ffffff;
    background: #ff6a30;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
}