.warp{overflow: hidden;}

.tips{width: 100%;height:80px;margin-top: 18px; }
.tips p{margin-left: 18px; margin-right:18px;font-size: 16px;color: #7c7e7e;line-height: 20px;}

.usernamewarp{width: 100%;display: -webkit-box;height: 50px;background-color: #fff;}
.usericon{height: 50px;line-height: 50px;font-size: 18px;padding-left:20px;padding-right: 20px;color: #7c7e7e;}

.username{-webkit-box-flex:1;height: 50px;}
.username input{width:100%;height: 20px;margin-top: 15px;color: #303233;font-size: 16px;line-height: 20px;}

.passwarp{width: 100%;display: -webkit-box;height: 50px;background-color: #fff; margin-top:1px;}
.passicon{height: 50px;line-height: 50px;font-size: 18px;padding-left:20px;padding-right: 14px;color: #7c7e7e;}
.pass{-webkit-box-flex:1;height: 50px;}
.pass input{width:100%;height: 20px;margin-top: 15px;color: #303233;font-size: 16px;line-height: 20px;}

.polcode{margin-top: 10px;width: 100%;height: 28px;}
.code{height: 100%;background-color: #15b6c3;font-size: 14px;line-height: 2;color: white;padding:0 6px;margin-right: 18px;display: inline-block;}
.graybg{background-color: #b7b7b7;}
.pol{display: inline-block;}
.policon{font-size: 14px;color: #ff6a30;display: inline-block;margin-left: 18px;}
.poltext{display: inline-block;font-size: 14px;color: #ff6a30;}
.graybg {background-color: #b7b7b7 !important;}
.btnsubmit{display: block; margin-top: 30px;margin-left:18px;margin-right:18px;height: 50px;line-height:50px;border-radius: 5px;background-color:#ff6a30;color:#ffffff;font-size: 18px;text-align: center;}