.modiPassword{
	margin-top: 16px;
}
.modiPassword .entry{
	font-size: 16px;
	line-height: 18px;
	padding: 18px;
	background: #fff;
}
.modiPassword .con-password{
	border-bottom: 1px solid #ddd;
}
.modiPassword .entry label{
	color: #7c7e7e;
	margin-right: 12px;
}
.modiPassword .entry input{
	color: #b7b7b7;
}
.modiPassword .submit{
	margin: 30px auto 0;
	width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #fe6b30;
	border-radius: 5px;
	font-size: 19px;
	color: #fff;
	display: block;
	text-align: center;
}