.warp{
    overflow: hidden;
}

.sectionlist{
    background: #fff;
    height:90px;
    border-bottom:1px solid #e9e9e9;
}
.sectionlist-l{
    margin-top:14px;
    width:85%;
}
.sectionlist-l .sectionImg{
    margin-right:18px;
    margin-left:18px;
    border:1px #c8c8c8 solid;
}

.sectionlist-l .sectionImg img{
    width:62px;
    height:62px;
}
.sectionlist-l .sectionDetail{
    width:60%;
}
.sectionlist-l .sectionDetail p{
    width:100%;
    overflow: hidden;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
    margin-bottom:6px;
}
.sectionlist-l .sectionDetail .sectionname{
    margin-right:5px;
}
.sectionlist-l .sectionDetail .colorone{
    color: #7c7e7e;
}
.sectionlist-l .sectionDetail p .level{
    background:#57b9de;
    color:#fff;
    height:15px;
    line-height: 15px;
    width:60px;
    display:inline-block;
}
.sectionlist-l .sectionDetail .colortwo{
    color: #303233;
}
.sectionlist-r{
    width:15%;
    height:90px;
}
.sectionlist-r span{
    margin-top:23px;
    margin-right:18px;
    height:44px;
    line-height: 44px;
    display: inline-block;
    color:#b7b7b7;
}
.sectionlist-r .order{
    background:#ff6a30;
}
.sectionlist-r .full{
    background:#c8c8c8;
}

.section-city{
    width:100px;
    height:50px;
    line-height:50px;
}
.section-city .txt{
    color:#303233;
}
.section-city .arrow{
    color:#87cdd4;
    font-size:8px;
    vertical-align: middle;
    margin:0 5px;
}
.sectionlist-l .sectionDetail .sectionName {height:36px;}


.hoslistwrap{
    overflow: hidden;
}