.warp{
    overflow: hidden;
}
.area-name{
	padding:16px 0;
	background:#44c5cf;
}
.area-name h3{
	color:#fff;
	margin:0px 18px;
	font-size:18px;
	font-weight: normal;
}

/******/
.area-info{
	margin:0px 18px;
	height:36px;
	line-height: 36px;
}
.area-info span{
	font-size: 16px;
}
.area-info-l{
	float:left;
}
.area-info-r{
	float:right;
}
.area-info-default-color{
	color:#7c7e7e;
}
.area-info-other-color{
	color:#44c5cf;
}

/******/
.area-info-list{
	width:100%;
}
.area-info-list li{
	padding:0px 18px;
	font-size:18px;
	border-bottom:1px solid #e9e9e9;
	height:50px;
	line-height:50px;
	background:#fff;
}
.area-info-list-l{
	float:left;
	color:#303233;
}
.area-info-list-r{
	float:right;
	color:#b7b7b7;
}
/*areawrap*/
.areawrap{
    overflow: hidden;
    width: 100%;
}