.user-protocol{
	margin: 15px;
}
.user-protocol .protocol-title{
	text-align: center;
	padding: 20px 0;
}
.user-protocol .small-title{
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0;
}
.user-protocol p{
	font-size: 14px;
	text-indent: 2em;
}